/* 首页样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:active,
a:link,
a:hover,
a:visited {
    /* 继承 父元素的颜色 */
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    padding-top: 52px;
}

.hidden-box {
    height: 40px;
}

/* 头部导航部分 上面 */
header {
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0px;
    /* 层级关系 */
    z-index: 100;
}

/* 子选择器 */
header>.header-nav {
    border-bottom: 1px solid #000;
}

header>.header-nav>.row div {
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-right: 1px solid #000;
}

header>.header-nav>.row div:last-child {
    border-right: none;
}

header>.header-nav>.row div:nth-child(3) a:hover {
    color: #f00;
    text-decoration: underline;
}

header>.header-nav>.row div:first-child {
    position: relative;
}

header>.header-nav>.row div:first-child:hover {
    color: #f00;
    text-decoration: underline;
}

header>.header-nav>.row div:first-child:hover .qrcode {
    display: block;
}

header>.header-nav>.row div:first-child .qrcode {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 10;
}

/* 头部导航部分 下面 */
header .logo-nav .navbar {
    margin-bottom: 0;
}

header .logo-nav .brand {
    padding: 0;
    height: 70px;
    font-size: 70px;
}

.navbar-header .navbar-brand {
    /* width: 324px; */
    /* height: 70px; */
    padding: 0;
    margin: 0;
}

header .logo-nav .header-nav a {

    padding: 0;
    height: 100px;
    line-height: 100px;
    padding: 0 16px;
}

header .logo-nav .header-nav a:hover {
    border-bottom: 3px solid #f00;
}

header .logo-nav .p-center i {
    height: 100px;
    line-height: 100px;
    /* color: inherit; */
}

/* slogan 标语部分 */
.slogan {
    margin: 20px auto;
}

.slogan>.row>div {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.slogan>.row>div i {
    font-size: 40px;
    margin-right: 10px;
    color: #666;
}

.slogan>.row>div .slogan-r {
    cursor: pointer;
}

.slogan>.row>div .slogan-r h3 {
    font-size: 18px;
    margin: 5px 0;
    color: #666;
}

.slogan>.row>div .slogan-r h3 a:hover {
    text-decoration: underline;
    color: #f00;
}

/* .slogan>.row>div .slogan-r h3 a:hover> span {
    text-decoration: none;
    color: #f00;
} */

.slogan>.row>div .slogan-r span {
    font-size: 12px;
    color: #666;
}

/* .slogan>.row>div .slogan-r:hover {
    color: #f00;
} */


/* 浏览次数部分 */
.queue {
    height: 100px;
    line-height: 100px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.queue .queue-box {
    height: 100%;
    display: flex;
    align-items: center;
}

.queue .queue-box .queue-1 {
    flex: 1;
}

.queue .queue-box .queue-1 a {
    color: #f00;
}

.queue .queue-box .queue-1 a:hover {
    text-decoration: underline;
}

.queue .queue-box .queue-r {
    /* width: 200px; */
    /* float: right; */
}